<div class="min-w-0 min-h-0 max-w-full flex flex-col mt-0 prose dark:prose-invert lg:flex-row">

    <div class="max-w-prose mb-20">
        {{ .Content | emojify }}
    </div>
    <div class="order-last sm:max-w-prose lg:ml-auto px-0 lg:order-last lg:max-w-xs ltr:lg:pl-8 rtl:lg:pr-8">
        <div class="ltr:pl-5 rtl:pr-5 print:hidden lg:sticky lg:top-[200px]">
            <iframe frameborder="0" marginheight="0" marginwidth="0"
                    src="https://www.betterplace-widget.org/projects/130776?l=de" width="100%" height="320"
                    style="border: 0; padding:0; margin:0;"
            >Informieren und spenden: &lt;a href=&#39;https://www.betterplace.org/de/projects/130776-unterstuetzung-der-gemeindearbeit&#39; target=&#39;_blank&#39;&gt;„Unterstützung der Gemeindearbeit “&lt;/a&gt; auf betterplace.org öffnen.</iframe>

        </div>
    </div>

</div>
<!--<details open class="mt-0 overflow-hidden rounded-lg ltr:-ml-5 ltr:pl-5 rtl:-mr-5 rtl:pr-5 hidden lg:block">
    <div
            class="min-w-[220px] py-2 border-dotted border-neutral-300 ltr:-ml-5 ltr:border-l ltr:pl-5 rtl:-mr-5 rtl:border-r rtl:pr-5 dark:border-neutral-600">
    </div>
</details>
<details class="mt-0 overflow-hidden rounded-lg ltr:-ml-5 ltr:pl-5 rtl:-mr-5 rtl:pr-5 lg:hidden">
    <div
            class="py-2 border-dotted border-neutral-300 ltr:-ml-5 ltr:border-l ltr:pl-5 rtl:-mr-5 rtl:border-r rtl:pr-5 dark:border-neutral-600">
        <iframe frameborder="0" marginheight="0" marginwidth="0"
                src="https://www.betterplace-widget.org/projects/130776?l=de" width="100%" height="320"
                style="border: 0; padding:0; margin:0;"
        >Informieren und spenden: &lt;a href=&#39;https://www.betterplace.org/de/projects/130776-unterstuetzung-der-gemeindearbeit&#39; target=&#39;_blank&#39;&gt;„Unterstützung der Gemeindearbeit “&lt;/a&gt; auf betterplace.org öffnen.</iframe>
    </div>
</details>-->