<p>start</p>
<div id="calendar"></div>
<p>end</p>

<script src='{{ .Site.BaseURL }}js/dayjs.min.js'></script>
<script src='{{ .Site.BaseURL }}js/dayjs.weekday.js'></script>
<script src='{{ .Site.BaseURL }}js/dayjs.weekOfYear.min.js'></script>
<script src='{{ .Site.BaseURL }}js/dayjs.locale.de.js'></script>
<script> dayjs.locale('de') </script>
<script src='{{ .Site.BaseURL }}js/calendar3.js'></script>

<!--
<script src='{{ .Site.BaseURL }}js/calendar2.js'></script>
<script src='{{ .Site.BaseURL }}/js/moment.min.js'></script>
<script src='{{ .Site.BaseURL }}/js/jquery.min.js'></script>
<script src='{{ .Site.BaseURL }}/js/jquery-ui.custom.min.js'></script>
<script src='{{ .Site.BaseURL }}/js/fullcalendar.min.js'></script>
<script>
	$(document).ready(function () {

		console.log("today moment vs dayjs");

		
		console.log(moment());
		console.log(dayjs());
		
		console.log("current moment vs dayjs");
		console.log(moment().date(1));
		console.log(dayjs().date(1));

		console.log("Done...");

	});
</script>
-->
